*,
html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(Home.png);
    font-family: Assistant, sans-serif;
    display: flex;
    min-height: 90vh;
  }

.navigbar {
    width: 85%;
    margin: auto;
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logooo {
  width: 140px;
  height: 140px;
  cursor: pointer;
  display: flex;
}

.navigbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navigbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navigbar ul li::after {
  content:'';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: .5s ease-in-out;
}

.navigbar ul li:hover:after{
  width: 100%;
}